# DevLovers Beta Testing Report

This file contains links to the Google Sheets for QA checklists and bug reports.

## Checklists
- [DevLovers QA Checklist](https://docs.google.com/spreadsheets/d/1ErFWru9Y4mnAHZ-r5-jo5OKCgD_70_IND56m2_5yU6k/edit?gid=0#gid=0) — single sheet with all checklists

## Bug Reports
- [DevLovers Bug Reports](https://docs.google.com/spreadsheets/d/1ErFWru9Y4mnAHZ-r5-jo5OKCgD_70_IND56m2_5yU6k/edit?gid=2086088872#gid=2086088872) — single sheet with all bugs
